EGNN/egnn/__pycache__/*
__pycache__/*
.vscode/*
Finder/*
EGNN/*data*/*.pt
models/UniModel/sae/*
tutorials/*
models/MATBENCH/CrabNet/sae/*
models/*/*/sae/*
models/MATBENCH/CrabNet/models/*
models/ParAIsite/main/src/sae/*
models/*/activations/*
lightning_logs*
models/MATBENCH/*/sae/*
models/MATBENCH/MEGNET/pretrained_models/*
models/MATBENCH/MEGNET/structures_scalers/*
mp_structures_dataset*
MGLDataset/dgl_graph.bin 
MGLDataset/*
datasets/*.pkl
datasets/*.cif
datasets/*.csv
datasets/MP*
datasets/MP_2018.6
models/*/activations/*
models/*/*/activations/*
models/MATBENCH/CrabNet/data/*
models/MATBENCH/cgnn-master/pre-trained/*
models/MATBENCH/modnet_master/modnet/data/MP_2018.6*
models/MATBENCH/modnet_master/modnet/data/MP_2018.6.zip 
models/MATBENCH/modnet_master/moddata/*
models/MATBENCH/Finder_main/Finder/pre_trained/*
models/MATBENCH/Finder_main/Finder/pre* 
